<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登录</title>
    <link rel='stylesheet' href='/bootstrap/css/bootstrap.min.css'/>
</head>
<body>
    <div class="container" style="padding-top:50px;">
        <div class="col-xs-3">
			<% if(error){ %>
			<div class="alert alert-danger"><%= error %></div>	
			<% } %>
            <form method="post" action="/login">
                <div class="form-group">
                    <label>用户名</label>
                    <input type="text" name="username" class="form-control"/>
                </div>
                <div class="form-group">
                    <label>密码</label>
                    <input type="text" name="password" class="form-control"/>
                </div>
                <button class="btn btn-primary">登录</button>
                <a class="btn btn-link" href="/register">注册</a>
            </form>
        </div>
    </div>
</body>
</html>
